.stepViz {
  font-family: sans-serif;
  font-size: 12px;
  .textBox {
    rect {
      fill: none;
      stroke: #000;
      stroke-width: 1px;
    }
    text {
      color: #000;
      alignment-baseline: before-edge;
    }
    &.highlight {
      rect {
        fill: #ccc;
      }
    }
    &.borderless {
      rect {
        stroke: none;
      }
    }
  }
}
