.stepViz {

  // default theme
  &.default {
    font-family: sans-serif;
    .arrayItem {
      rect {
        fill: #FFF;
        stroke: #000;
        stroke-width: 2px;
      }
      text {
        color: #000;
        alignment-baseline: before-edge;
      }

      &.highlight {
        rect {
          fill: #ccc;
        }
      }
    }
  }

}
